<!DOCTYPE html>
<html>

<head>
    <title>
        {% block title %}
        Physiologgy
        {% endblock %}
    </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='layout.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />

</head>

<body>
    <nav>
        <a href="{{ url_for('root') }}">Home</a>
        <a href="{{ url_for('weight') }}">Log Weight</a>
        <a href="{{ url_for('exercise') }}">Log Exercise</a>
    </nav>

    {% block content %} {% endblock %}
</body>

</html>