{% extends "base.html" %}

{% block content %}

<table class="exercise">
    <thead>
        <tr>
            {% for t in regtitles %}
            <th>{{ t }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for reg in regimens %}
        <tr>
            {% for val in reg %}
            <td>{{ val }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table>
<form action="/exercise" method="POST">
    <label for="date">Date</label>
    <input type="date" name="date" value="{{ default_date.isoformat() }}" required />
    <label for="rank">Rank</label>
    <input type="number" name="rank" value="{{default_rank}}" required />
    <input type="submit" value="Save" />
</form>

{% endblock %}