{% extends "base.html" %}

{% block title %}
Home - Physiologgy
{% endblock %}

{% block content %}

<table>
    <colgroup>
        <col class="date">
        <col class="weight" span=3>
        <col class="exercise" span=2>
    </colgroup>
    <thead>
        <tr>
            <th style="text-align: left">Date</th>
            <th>Weight(lbs)</th>
            <th>Average</th>
            <th></th>
            <th>Exercise Level</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for row in rows %}
        <tr>
            <td>{{ row.date.isoformat() }}</td>
            {% if row.weight %}
            <td>{{ "{: > 4.1f}".format(row.weight) }}</td>
            <td>{{ "{: > 4.1f}".format(row.weight_average or 0.0)}}</td>
            <td>
                <form action="{{ url_for('delete_weight') }}" method="POST">
                    <input type="hidden" name="weight" value="{{row.weight}}" />
                    <input type="hidden" name="date" value="{{row.date}}" />
                    <input type="submit" value="🗑" />
                </form>
            </td>

            {% else %}
            <td>⋯</td>
            <td>⋯</td>
            <td>⋯</td>
            {% endif %}
            {% if row.exercise_rank %}
            <td>{{ row.exercise_rank }}</td>
            <td>
                <form action="{{ url_for('delete_exercise') }}" method="POST">
                    <input type="hidden" name="rank" value="{{row.exercise_rank}}" />
                    <input type="hidden" name="date" value="{{row.date.isoformat()}}" />
                    <input type="submit" value="🗑" />
                </form>
            </td>
            {% else %}
            <td>⋯</td>
            <td>⋯</td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}