{% extends "base.html" %}

{% block content %}

<form action="/weight" method="POST">
    <label for="date">Date</label>
    <input type="date" name="date" value="{{ default_date.isoformat() }}" required />
    <label for="weight">Weight (lbs)</label>
    <input type="number" name="weight" value="{{default_wt}}" required />
    <input type="submit" value="Save" />
</form>

{% endblock %}