body {
  max-width: 36em;
  margin: auto;
}

nav {
  margin: 1em;
}

th {
  margin: 0.2em 1em;
}

form {
  max-width: 16em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

form * {
  margin: 0.2em 0;
}
