body {
  font-family: sans-serif;
}

td {
  text-align: right;
}

nav {
  margin: 1em 0;
}

nav a {
  padding: 0.2em 0.4em;
  border: 1px solid black;
  text-decoration: none;
  color: blue;
}

nav a:hover {
  background-color: green;
}

table {
  border-collapse: collapse;
}

th {
  font-size: 70%;
}

td form input[type="submit"] {
  background-color: pink;
  border: none;
}

td {
  padding: 0 1em;
}

table.exercise {
  font-size: 110%;
}
table.exercise th {
  font-size: 90%;
  padding: 0 1em;
}
table.exercise td {
  padding: 0.2em 1em;
}
